{% extends 'base.html' %}
{% load bootstrap %}
{% block titulo %} Cuidadores {% endblock %}
{% block content %}
  <div class = "card">
    <div class="card-body">
      <h4> Olá Família <B><label>{{ request.session.familia }} - {{request.session.familia_id}}</label></B></h4>
      <h5> Lista Cuidadores </h5>
      <hr>
      <a class ="btn btn-success" href="{% url 'cuidador_add' %}">Inserir</a>
      <table class = "table table-striped">
        <thead>

          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Dta nasc</th>
            <th>Cidade</th>
            <th>Cel/Whats</th>
            <th>Estatus</th>
            <th>Admissão</th>
            <th>Demissao</th>
            <th>Contratação</th>
            <th>CHoraria</th>
            <th>Turno</th>
            <th>Salario</th>
            <th>Adicional</th>
            <th>Dia de pag</th>
            <th>Acões</th>
          </tr>
        </thead>
        <tbody>
          {%  for object in object_list %}

            <tr>
              <td>{{ object.id }} </td>
              <td>{{ object.nome  }} </td>
              <td>{{ object.dtanasc }}</td>
              <td>{{ object.cidade }} </td>
              <td>{{ object.celular_whatsapp }} </td>
              <td>{{ object.status }} </td>
              <td>{{ object.data_inicio }} </td>
              <td>{{ object.data_fim }} </td>
              <td>{{ object.regime_contratacao }} </td>
              <td>{{ object.carga_horaria_semanal }} </td>
              <td>{{ object.turno_trabalho }} </td>
              <td>{{ object.salario_atual }} </td>
              <td>{{ object.adicional }} </td>
              <td>{{ object.dia_pagamento }} </td>

              <td>
                <a class ="btn btn-warning btn-sm" href="">Editar</a>
                <a class ="btn btn-danger btn-sm" href="" onclick="return confirm ('Tem certeza que deseja excluir o imovel de id: {{ object.id }} ?  ')">Excluir</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
{% endblock %}