{% extends 'base.html' %}
{% load bootstrap %}
{% block titulo %} Dependentes {% endblock %}

{% block content %}
  <div class = "card">
    <div class="card-body">
      <h4> Olá Família <B><label>{{ request.session.familia }} - {{request.session.familia_id}}</label></B></h4>
      <h5>
        Lista Dependentes
        <a
          class ="btn btn-success"
          href="{% url 'dependente_add' %}"
        >Adicionar</a>
      </h5>
      <table class = "table table-striped">
        <thead>

          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Data nascimento</th>
            <th>Cidade</th>
            <th>Telefone</th>
            <th>Estatus</th>
            <th>Nome do Convênio</th>
            <th>Contato do Convênio</th>
            <th>Acões</th>
          </tr>
        </thead>
        <tbody>
          {%  for object in object_list %}

            <tr>
              <td>{{ object.id }} </td>
              <td>{{ object.nome  }} </td>
              <td>{{ object.dtanasc }}</td>
              <td>{{ object.cidade }} </td>
              <td>{{ object.celular_whatsapp }} </td>
              <td>{{ object.status }} </td>
              <td>{{ object.convenio_medico }} </td>
              <td>{{ object.contato_fone_convenio }} </td>


              <td>
                <a class ="btn btn-warning btn-sm" href="{% url 'dependente_edit' object.id %}">Editar</a>
                <a class ="btn btn-danger btn-sm" href="" onclick="return confirm ('Tem certeza que deseja excluir o imovel de id: {{ object.id }} ?  ')">Excluir</a>
              </td>
            </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
{% endblock %}