{% extends 'base.html' %}
{% load bootstrap %}
{% block titulo %} Familia cadastrada {% endblock %}
{% block content %}

  <div class="container">
  </div>
  <div class = "card">
    <div class="card-body">
      <h4> Olá Família <B><label>{{ request.session.familia }}</label></B></h4>
      <h5>
        Lista Famílias
        <a class="btn btn-primary" href="{% url 'familia_add' %}">
          Adicionar
        </a>
      </h5>

      <table class = "table table-striped">

        <thead>

          <tr>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>UF</th>
            <th>Ativo</th>
            <th>Acões</th>
          </tr>
        </thead>
        <tbody>
          {%  for object in object_list %}
            {% csrf_token %}
            <tr>
              <td>
                <a href="{{ object.get_absolute_url }}">{{ object.nome }}</a>
              </td>
              <td>{{ object.endereco }}</td>
              <td>{{ object.bairro }}</td>
              <td>{{ object.cidade }} </td>
              <td>{{ object.get_uf_display }} </td>
              <td>{{ object.active|yesno:"Sim,Não" }}</td>

              <td>
                <a class ="btn btn-warning btn-sm" href="{% url 'familia_edit' object.id %}">Editar</a>
                <a class ="btn btn-danger btn-sm" href="" onclick="return confirm ('Tem certeza que deseja excluir o imovel de id: {{ object.id }} ?  ')">Excluir</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
{% endblock %}