{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <tbody>
            <tr>
              <td>Nome</td>
              <td>{{ object.nome }}</td>
            </tr>

            <tr>
              <td>Endereço</td>
              <td>{{ object.endereco|default:"---" }}</td>
            </tr>
            <tr>
              <td>Bairro</td>
              <td>{{ object.bairro|default:"---" }}</td>
            </tr>
            <tr>
              <td>Cidade</td>
              <td>{{ object.cidade|default:"---" }}</td>
            </tr>
            <tr>
              <td>UF</td>
              <td>{{ object.get_uf_display|default:"---" }}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}