@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {

}
#menu-h{
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(52, 58, 64);
}

#menu-h ul {
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}
#img-home {
    display: block;
    margin: 0 auto;
    align-items: center;
}
#usuario{
    color: #2630FA;
}
#sair{
    color: #FFFFF;

}
.breadcrumb {
  display: inline-block;
  position:relative;
  line-height:30px;                /* altura final da linha */
  text-align:center;
  padding-right:15px;
  padding-left:35px;               /* 1/2 da altura da linha a mais */
                                   /* que o right para compensar o bico */
  color:#000;
}
.breadcrumb:after {
  content:"";display:block;position:absolute;
  box-sizing: content-box;           /* para respeitar medida interna */
  top:0;bottom:0;left:100%;
  border:solid 15px transparent;   /* metade da altura da linha */
  z-index:1;
}
.blue {background:blue}  .blue:after {border-left-color:blue}
.gold {background:gold}  .gold:after {border-left-color:gold}
.green{background:green} .green:after{border-left-color:green}
.red  {background:red}   .red:after  {border-left-color:red}