{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
  <div class="container">
    <h4> <B><label>{{ user.get_full_name }} -  Familia {{ familia}}</label></B></h4>
    <h4> Detalhes da Consulta </h4>
    <div class="card">

      <div class="card-body">
        <table class="table">
          <tbody>

            <tr>
              <td>Dependente</td>
              <td>{{object.dependente|default:"---"}}</td>
            </tr>

            <tr>
              <td>Data</td>
              <td>{{object.data_consulta|date:"d/m/Y"|default:"---" }}</td>
            </tr>

            <tr>
              <td>Hora</td>
              <td>{{object.hora|default:"---"}}</td>
            </tr>
            <tr>
              <td>Local</td>
              <td>{{object.local|default:"---"}}</td>
            </tr>
            <tr>
              <td>Especialidade</td>
              <td>{{object.especialidade|default:"---"}}</td>
            </tr>
            <tr>
              <td>Médico(a)</td>
              <td>{{object.nome_especialista|default:"---"}}</td>
            </tr>
            <tr>
              <td>Fone Contato</td>
              <td>{{object.fone_contato|default:"---"}}</td>
            </tr>
            <tr>
              <td>Atendimento</td>
              <td>{{object.atendimento|default:"---"}}</td>
            </tr>
            <tr>
              <td>Motivo Consulta</td>
              <td>{{object.motivo_consulta|default:"---"}}</td>
            </tr>
            <tr>
              <td>Sintomas</td>
              <td>{{object.sintomas|default:"---"}}</td>
            </tr>
            <tr>
              <td>Acompanhante</td>
              <td>{{object.acompanhante_responsavel}} </td>
            </tr>
            <tr>
              <td>Data do Cancelamento</td>
              <td>{{object.cancelamento|date:"d/m/Y"|default:"---" }}</td>
            </tr>

            <tr>
              <td>Motivo do Cancelamento</td>
              <td>{{ object.motivo_cancelamento|default:"---" }}</td>
            </tr>
            <tr>
              <td>Observação</td>
              <td>{{ object.observacao|default:"---" }}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    <a class ="btn btn-success" href="{% url 'consulta_list' %}" >Voltar</a>
  </div>
{% endblock content %}