{% extends 'base.html' %}
{% load bootstrap %}

{% block titulo %} Pós Consulta {% endblock %}

{% block content %}
  <div class = "card">
    <div class="card-body">
      <h4> <B><label>{{ user.get_full_name }} -  Familia {{ familia}}</label></B></h4>
      <h5> Lista Pós Consultas </h5>
      <hr>
      <a class ="btn btn-success" href="{% url 'posconsulta_add' %}">Inserir</a>
      <table class = "table table-striped">
        <thead>

          <tr>
            <th>ID</th>
            <th>Consulta Ref</th>
            <th>Acompanhente</th>
            <th>Diagnóstico</th>
            <th>Tratamento</th>
            <th>Receita</th>
            <th>Observações</th>

          </tr>
        </thead>
        <tbody>
          {%  for object in object_list %}

            <tr>
              <td>{{ object.id }} </td>
              <td>{{ object.consulta }} </td>
              <td>{{ object.acompanhante_resp.nome }}</td>
              <td>{{ object.diagnostico }} </td>
              <td>{{ object.tratamento}} </td>
              <td>{{ object.receita }} </td>
              <td>{{ object.observacao}} </td>

              <td>
                <a class ="btn btn-warning btn-sm" href="">Editar</a>
                <a class ="btn btn-danger btn-sm" href="" onclick="return confirm ('Tem certeza que deseja excluir o imovel de id: {{ object.id }} ?  ')">Excluir</a>
                <a class ="btn btn-warning btn-sm" href="">Medicamentos </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
{% endblock %}