{% extends 'base.html' %}
{% load bootstrap %}

{% block titulo %} Pós Consulta {% endblock %}

{% block content %}
  <div class = "card">
    <div class="card-body">
      <h4> <B><label>{{ user.get_full_name }} -  Familia {{ familia}}</label></B></h4>
      <h5> Lista Pós Consultas </h5>
      <hr>
      <table class = "table table-striped">
        <thead>

          <tr>
            <th>Consulta</th>
            <th>Data</th>
            <th>Hora</th>
            <th>Especialidade</th>
            <th>Médico</th>
            <th>Acompanhante</th>
            <th>Diagnóstico</th>
            <th>Tratamento</th>
            <th>Receita</th>
            <th>Ações</th>


          </tr>
        </thead>
        <tbody>
          {%  for object in object_list %}

            <td>
              <a href="{{ object.get_absolute_url }}">{{ object }}</a>
            </td>
            <td>{{object.consulta.data_consulta}}</td>
            <td>{{object.consulta.hora}}</td>
            <td>{{object.consulta.get_especialidade_display}}</td>
            <td>{{object.consulta.nome_especialista}}</td>
            <td>{{ object.acompanhante_responsavel }}</td>
            <td>{{ object.diagnostico }} </td>
            <td>{{ object.tratamento}} </td>
            <td><a href="{{ object.get_absolute_url }}">{{ object.receita}}</a> </td>


            <td>
              <a class ="btn btn-warning btn-sm" href="{% url 'posconsulta_edit' object.pk %}">Editar</a>
              <a class ="btn btn-danger btn-sm" href="" onclick="return confirm ('Tem certeza que deseja excluir o imovel de id: {{ object.id }} ?  ')">Excluir</a><td>
                <a class ="btn btn-success btn-sm" href="{% url 'medicamento_add' %}">Medicamento</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
{% endblock %}